#header .navbar {
  border: initial;
  background-color: initial;
}
#header .navbar .navbar-brand {
  padding: 0;
}
#header .navbar .gnb a {
  margin: 13px 0;
  padding: 0 15px;
  color: #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
}
#header .navbar .gnb a span {
  font-size: 12px;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
#header .navbar .gnb a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#header .navbar .gnb a:hover {
  color: #666;
}
#header .navbar .gnb a:hover span {
  font-weight: bold;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#header .navbar .navbar-toggle {
  border-color: #fff;
}
#header .navbar .navbar-toggle:focus, #header .navbar .navbar-toggle:hover {
  background-color: #565656;
}
#header .navbar .navbar-collapse {
  width: 400px;
  margin: 0 auto;
  border: initial;
  box-shadow: initial;
}

/****************************************************************
*
*  Set media query
*
*****************************************************************/
@media all and (max-width: 768px) {
  #header .navbar-nav > li {
    text-align: center;
  }
  #header .navbar-collapse {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px !important;
    background: #222;
  }
}
