body {
  height: 2000px;
}

#header .navbar {
  opacity: 0.9;
  border-radius: 0;
  border-color: #00A0F3;
  background-color: #00A0F3;
}
#header .navbar .navbar-brand {
  padding: 0;
}
#header .navbar .gnb a {
  margin: 13px 0;
  padding: 0 15px;
  color: #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
}
#header .navbar .gnb a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
#header .navbar .gnb a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#header .navbar .gnb a:hover span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#header .navbar .navbar-toggle {
  border-color: #0078ff;
  border-width: 2px;
}
#header .navbar .navbar-toggle:focus, #header .navbar .navbar-toggle:hover {
  background-color: #148cff;
}
#header .navbar .navbar-collapse {
  border-color: #0078ff;
}

/****************************************************************
*
*  Set media query
*
*****************************************************************/
@media all and (max-width: 768px) {
  #header .navbar-nav > li {
    text-align: center;
  }
}
