@charset "UTF-8";
@import "cubeSpinning";

// @include cube-keyframes(spinning) {
// 	from {
// 		-webkit-transform: 	rotateX(0deg) rotateY(0deg);
// 		-moz-transform: 	rotateX(0deg) rotateY(0deg);
// 		transform: 			rotateX(0deg) rotateY(0deg);
// 	}
// 	to {
// 		-webkit-transform: 	rotateX(360deg) rotateY(360deg);
// 		-moz-transform: 	rotateX(360deg) rotateY(360deg);
// 		transform: 			rotateX(360deg) rotateY(360deg);
// 	}
// }



@-webkit-keyframes spinning {
	from {
		-webkit-transform: 	rotateX(0deg) rotateY(0deg);
	}
	to {
		-webkit-transform: 	rotateX(360deg) rotateY(360deg);
	}
}
@-moz-keyframes spinning {
	from {
		-moz-transform: 	rotateX(0deg) rotateY(0deg);
	}
	to {
		-moz-transform: 	rotateX(360deg) rotateY(360deg);
	}	
}

@keyframes spinning {
	from {
		transform: 	rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: 	rotateX(360deg) rotateY(360deg);
	}
}	


#cubebox {
	@include cube-box(1000px, 50%, 50%);
	.animate {
		@include cube-animate('spinning 6s infinite linear');
	}
	#cube {
		position: relative;
		width: 200px;
		height: 200px;
		margin: 0 auto;
		@include cube-transition(2s, linear);

		div {
			position: absolute;
			width: 160px;
			height: 160px;
			padding: 20px;
			opacity: 0.9;
			background: red;
			background-position: center center;
			border: {
				width: 1px;
				style: solid;
				color: #fff;
			}
			color: #fff;

			&:nth-child(1) {
				@include cube-first-side(100px);
			}

			&:nth-child(2) {
				@include cube-second-side(90deg, 100px);
			}

			&:nth-child(3) {
				@include cube-third-side(180deg, 100px);
			}

			&:nth-child(4) {
				@include cube-fourth-side(-90deg, 100px);
			}

			&:nth-child(5) {
				@include cube-fifth-side(-90deg, 100px, 180deg);
			}

			&:nth-child(6) {
				@include cube-sixth-side(90deg, 100px);
			}
		}
	}
}