@charset "UTF-8";
@import "textSlideEffect";

#header {
	.navbar {
		border: initial;
		background: {
			color: initial;
		}
		.navbar-brand {
			padding: 0;
		}
		.gnb {
			a {
				margin: 13px 0;
				padding: 0 15px;
				color: #fff;
				@include rolling-base;
				span {
					font: {
						size: 12px;
					}
					@include rolling-transition(0.3s);
					&::before {
						@include rolling-transform(0, 0, 0);
					}
				}
				&:hover {
					color: #666;
					span {
						font: {
							weight: bold;
						}
						@include rolling-transformHover(-100%);
					}
				}
			}
		}
		.navbar-toggle {
			border: {
				color: #fff;
			}
			&:focus, &:hover {
				background: {
					color: #565656;
				}
			}
		}

		.navbar-collapse {
			width: 400px;
			margin: 0 auto;
			border: initial;
			box: {
				shadow: initial;
			}
		}
	}
}

    

/****************************************************************
*
*  Set media query
*
*****************************************************************/

@media all and (max-width: 768px) {
	#header {
		.navbar-nav > li {
			text-align: center;
		}

		.navbar-collapse {
			position: absolute;
		    	right: 0;
		    	top: 0;
			width: 100px !important;
			background: #222;
		}
	}
}