@charset "UTF-8";
@import "textSlideEffect";

#header {
	position: relative;
	.navbar {
		border: initial;
		background: {
			color: initial;
		}
		.navbar-brand {
			padding: 0;
		}
		.gnb {
			a {
				margin: 13px 0;
				padding: 0 15px;
				color: #fff;
				@include rolling-base;
				span {
					font: {
						size: 12px;
					}
					@include rolling-transition(0.3s);
					&::before {
						@include rolling-transform(0, 0, 0);
					}
				}
				&:hover {
					color: #666;
					span {
						font: {
							weight: bold;
						}
						@include rolling-transformHover(-100%);
					}
				}
			}
		}

		.navbar-toggle {
			margin: {
				top: 15px;
			}
			padding: 5px;
			border: {
				color: #fff;
			}
			&:hover {
				background: {
					color: #222;
				}
			}

			.icon-bar {
				width: initial;
				color: #fff;
				background: {
					color: initial;
				}
			}
		}

		.navbar-collapse {
			width: 400px;
			margin: 0 auto;
			border: initial;
			box: {
				shadow: initial;
			}
		}

		#resizeScreen {
			position: absolute;
			top: 10px;
			right: 50px;
			cursor: pointer;

			.glyphicon {
				padding: 5px;
				-webkit-transition: font-size 0.5s;
				-moz-transition: font-size 0.5s;
				-o-transition: font-size 0.5s;
				transition: font-size 0.5s;
				border: {
					width: 2px;
					style: solid;
					color: #fff;
					radius: 4px;
				}
				font: {
					size: 8px;
				}
				color: #fff;
			}

			&:hover {
				span {
					border: {
						color: #333;
					}
					font: {
						size: 15px;
					}
					color: #333;
				}
			}
		}
	}
}

    

/****************************************************************
*
*  Set media query
*
*****************************************************************/

@media all and (max-width: 768px) {
	#header {
		.navbar-nav > li {
			text-align: center;
		}

		.navbar-collapse {
			position: absolute;
		    	right: 0;
		    	top: 50px;
			width: 100px !important;
			background: #222;
		}
		#resizeScreen {
			display: none;
		}
	}
}