body {
  background-color: #efefef;
  font-family: "Lato", sans-serif;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@-moz-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@-o-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
#cubebox {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
#cubebox .animate {
  -webkit-animation: spinning 6s infinite linear;
  -moz-animation: spinning 6s infinite linear;
  -o-animation: spinning 6s infinite linear;
  animation: spinning 6s infinite linear;
}
#cubebox #cube {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 2s linear;
  -moz-transition: -moz-transform 2s linear;
  -o-transition: -o-transform 2s linear;
  transition: transform 2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cubebox #cube div {
  position: absolute;
  width: 160px;
  height: 160px;
  border-width: 1px;
  border-style: dashed;
  border-color: #fff;
  color: #fff;
  text-align: center;
  line-height: 160px;
}
#cubebox #cube div:nth-child(1) {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  transform: translateZ(100px);
}
#cubebox #cube div:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
#cubebox #cube div:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
}
#cubebox #cube div:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
#cubebox #cube div:nth-child(5) {
  -webkit-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  -moz-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}
#cubebox #cube div:nth-child(6) {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}

/****************************************************************
*
*  Set media query
*
*****************************************************************/
@media all and (max-width: 640px) {
  #cubebox {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }
  #cubebox #cube {
    width: 80px;
    height: 80px;
  }
  #cubebox #cube div {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  #cubebox #cube div {
    font-size: 12px;
  }
  #cubebox #cube div:nth-child(1) {
    -webkit-transform: translateZ(80px);
    -moz-transform: translateZ(80px);
    transform: translateZ(80px);
  }
  #cubebox #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(80px);
    -moz-transform: rotateY(90deg) translateZ(80px);
    transform: rotateY(90deg) translateZ(80px);
  }
  #cubebox #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(80px);
    -moz-transform: rotateY(180deg) translateZ(80px);
    transform: rotateY(180deg) translateZ(80px);
  }
  #cubebox #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(80px);
    -moz-transform: rotateY(-90deg) translateZ(80px);
    transform: rotateY(-90deg) translateZ(80px);
  }
  #cubebox #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(80px) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ(80px) rotate(180deg);
    transform: rotateX(-90deg) translateZ(80px) rotate(180deg);
  }
  #cubebox #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(80px);
    -moz-transform: rotateX(90deg) translateZ(80px);
    transform: rotateX(90deg) translateZ(80px);
  }
}
@media all and (max-width: 380px) {
  #cubebox {
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }
  #cubebox #cube {
    width: 50px;
    height: 50px;
  }
  #cubebox #cube div {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  #cubebox #cube div {
    font-size: 10px;
  }
  #cubebox #cube div:nth-child(1) {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    transform: translateZ(50px);
  }
  #cubebox #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
  }
  #cubebox #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(50px);
    -moz-transform: rotateY(180deg) translateZ(50px);
    transform: rotateY(180deg) translateZ(50px);
  }
  #cubebox #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
  }
  #cubebox #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
    transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
  }
  #cubebox #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(50px);
    -moz-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
  }
}

#cv {
  font-family: "Vollkorn", serif;
  /* barchart style */
}
#cv h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: bold;
  text-align: center;
}
#cv h3 {
  font-weight: 500;
  color: #666;
  text-align: left;
}
#cv .intro {
  margin-bottom: 50px;
  text-align: left;
  line-height: 30px;
  letter-spacing: 0.8px;
}
#cv .edu_ex {
  margin-bottom: 50px;
}
#cv .edu_ex .part .date_place {
  color: #aaa;
}
#cv .edu_ex .part p {
  color: #666;
  text-indent: 25px;
}
#cv .edu_ex .part p .glyphicon {
  display: inline;
  top: 3px;
}
#cv .edu_ex .part ul li {
  color: #666;
  line-height: 25px;
}
#cv .skill {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
#cv .skill #barChart {
  position: absolute;
  width: 100%;
  height: 100%;
}
#cv .skill #barChart svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#cv .contact {
  clear: both;
}
#cv .contact #contact {
  color: #666;
}
#cv .contact #contact textarea.form-control {
  height: 150px;
}
#cv .contact #contact .btn-primary {
  border-color: #666;
  background-color: #666;
  color: #fff;
}
#cv text {
  font-size: 11px;
}
#cv .axis path, #cv .axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crishpEdges;
}

#header {
  position: relative;
}
#header .navbar {
  border: initial;
  background-color: initial;
}
#header .navbar .navbar-brand {
  position: absolute;
  left: 20px;
  padding: 0;
}
#header .navbar .gnb a {
  margin: 13px 0;
  padding: 0 15px;
  color: #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
}
#header .navbar .gnb a span {
  font-size: 12px;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
#header .navbar .gnb a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#header .navbar .gnb a:hover {
  color: #666;
}
#header .navbar .gnb a:hover span {
  font-weight: bold;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#header .navbar .gnb.selected a {
  color: #666;
}
#header .navbar .gnb.selected a span {
  font-weight: bold;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#header .navbar .navbar-toggle {
  margin-top: 12px;
  padding: 5px;
  border-color: #fff;
}
#header .navbar .navbar-toggle:hover {
  background-color: #222;
}
#header .navbar .navbar-toggle .icon-bar {
  width: initial;
  color: #fff;
  background-color: initial;
}
#header .navbar .navbar-collapse {
  width: 400px;
  margin: 0 auto;
  border: initial;
  box-shadow: initial;
  opacity: 0.9;
}
#header .navbar #resizeScreen {
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
}
#header .navbar #resizeScreen .glyphicon {
  padding: 5px;
  -webkit-transition: font-size 0.5s;
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 4px;
  font-size: 8px;
  color: #fff;
}
#header .navbar #resizeScreen .glyphicon.glyphicon-resize-small {
  border-color: #fff;
  font-size: 15px;
  color: #fff;
}
#header .navbar #resizeScreen .glyphicon.glyphicon-resize-small:hover {
  border-color: #333;
  font-size: 8px;
  color: #333;
}
#header .navbar #resizeScreen:hover span {
  border-color: #333;
  font-size: 15px;
  color: #333;
}
#header .navbar.show {
  opacity: 0.8;
  background-color: #111;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

/****************************************************************
*
*  Set media query
*
*****************************************************************/
@media all and (max-width: 768px) {
  #header .navbar-nav > li {
    text-align: center;
  }
  #header .navbar-collapse {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100px !important;
    background: #222;
  }
  #header #resizeScreen {
    display: none;
  }
}

#sns {
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 80px;
  height: 200px;
  z-index: 2000;
}

@media all and (max-width: 930px) {
  #sns {
    display: none;
  }
}

#video {
  width: 100%;
  height: 100%;
}
#video video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

/****************************************************************
*
*  Set media query
*
*****************************************************************/
