body {
  height: 2000px;
  background-color: #efefef;
  font-family: "Lato", sans-serif;
}


@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}
@-moz-keyframes spinning {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes spinning {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
#cubebox {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
#cubebox .animate {
  -webkit-animation: spinning 6s infinite linear;
  -moz-animation: spinning 6s infinite linear;
  -o-animation: spinning 6s infinite linear;
  animation: spinning 6s infinite linear;
}
#cubebox #cube {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 2s linear;
  -moz-transition: -moz-transform 2s linear;
  -o-transition: -o-transform 2s linear;
  transition: transform 2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cubebox #cube div {
  position: absolute;
  width: 160px;
  height: 160px;
  padding: 20px;
  opacity: 0.9;
  background: red;
  background-position: center center;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
}
#cubebox #cube div:nth-child(1) {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  transform: translateZ(100px);
}
#cubebox #cube div:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
#cubebox #cube div:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
}
#cubebox #cube div:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
#cubebox #cube div:nth-child(5) {
  -webkit-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  -moz-transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}
#cubebox #cube div:nth-child(6) {
  transform: rotateX(90deg) translateZ(100px);
}

#header {
  position: relative;
}
#header .navbar {
  border: initial;
  background-color: initial;
}
#header .navbar .navbar-brand {
  padding: 0;
}
#header .navbar .gnb a {
  margin: 13px 0;
  padding: 0 15px;
  color: #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
}
#header .navbar .gnb a span {
  font-size: 12px;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
#header .navbar .gnb a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#header .navbar .gnb a:hover {
  color: #666;
}
#header .navbar .gnb a:hover span {
  font-weight: bold;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
#header .navbar .navbar-toggle {
  margin-top: 15px;
  padding: 5px;
  border-color: #fff;
}
#header .navbar .navbar-toggle:hover {
  background-color: #222;
}
#header .navbar .navbar-toggle .icon-bar {
  width: initial;
  color: #fff;
  background-color: initial;
}
#header .navbar .navbar-collapse {
  width: 400px;
  margin: 0 auto;
  border: initial;
  box-shadow: initial;
}
#header .navbar #resizeScreen {
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
}
#header .navbar #resizeScreen .glyphicon {
  padding: 5px;
  -webkit-transition: font-size 0.5s;
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 4px;
  font-size: 8px;
  color: #fff;
}
#header .navbar #resizeScreen:hover span {
  border-color: #333;
  font-size: 15px;
  color: #333;
}

/****************************************************************
*
*  Set media query
*
*****************************************************************/
@media all and (max-width: 768px) {
  #header .navbar-nav > li {
    text-align: center;
  }
  #header .navbar-collapse {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100px !important;
    background: #222;
  }
  #header #resizeScreen {
    display: none;
  }
}

#video video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

/****************************************************************
*
*  Set media query
*
*****************************************************************/
